

.article-title {
    font-family: Oswald;
    font-weight: 600;
    font-size: 48px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
    margin-bottom: 40px;
    max-width: 596px;
}

.article {
    padding-top: 80px;
    margin-bottom: 120px;
}

.article-text {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
}

.article-mb {
    margin-bottom: 80px;
}

.article__img,
.article__video {
    width: 100%;
}

.article-title {
    font-family: Oswald, sans-serif;
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;

}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

.article-title-large {
    font-size: 48px;
}

.article-title-medium {
    font-size: 36px;
}

.article-list {
    margin-top: 0;
    padding-left: 14px;
}

.article-item {
    margin-bottom: 12px;
}

.article-decor-wrapper {
  position: relative;
}

.article-decor-wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: url("../media/decor-icon.svg") no-repeat;
  width: 528px;
  height: 48px;
}

.article-decor-wrapper-1::before {
  top: 100px;
  left: -350px;
}

.article-decor-wrapper-2::before {
  right: -350px;
  bottom: 136px;
}

.article-img,
.article-video {
  width: 100%;
  margin-bottom: 40px;
}

.article-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: #3596ed;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.2s, background-color 0.2s;
}

.article-play-button:hover {
    background-color: #38a2ff;   
}

.article-play-button:not(:disabled):active {
    background-color: #2d82cd;
}


