.article__title {
  font-family: Oswald;
  font-weight: 600;
  font-size: 48px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
  margin-bottom: 40px;
  max-width: 596px;
}

.article {
  padding-top: 80px;
  margin-bottom: 120px;
}

.article__text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}

.article__mb {
  margin-bottom: 80px;
}

.article__img,
.article__video {
  width: 100%;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

.article__title--large {
  font-size: 48px;
}

.article__title--medium {
  font-size: 36px;
  margin-bottom: 40px;
}

.article__list {
  margin-top: 0;
  padding-left: 14px;
}

.article__item {
  margin-bottom: 12px;
}

.article__decor--wrapper {
  position: relative;
}

.article__decor--wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: url("../media/decor-icon.svg") no-repeat;
  width: 528px;
  height: 48px;
  width: calc(50%-259px);
}

.article__decor--wrapper-1::before {
  top: 100px;
  left: 0;
  /* left: 0; полностью пропадают декорации */
}

.article__decor--wrapper-2::before {
  right: 0;
  bottom: 136px;
  /* left: 0; полностью пропадают декорации */
}

.article__img,
.article__video {
  width: 100%;
  margin-bottom: 40px;
}

.article__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: #3596ed;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: opacity 0.2s, background-color 0.2s;
  -o-transition: opacity 0.2s, background-color 0.2s;
  transition: opacity 0.2s, background-color 0.2s;
}

.article__play-button:hover {
  background-color: #38a2ff;
}

.article__play-button:not(:disabled):active {
  background-color: #2d82cd;
}


@media (width <=768px) {
  .article__decor--wrapper::before {
    display: none;
  }

  .article__title--medium {
    font-size: 32px;
  }

  .article__mb {
    margin-bottom: 60px;
  }
}

@media (width <=576px) {
  .article {
    padding-top: 80px;
    padding-bottom: 10px;
  }

  .article__title--medium {
    font-size: 28px;
  }

  .article__play-button {
    width: 50px;
    height: 50px;
  }

  .article__play-button img {
    width: 18px;
    height: 18px;
  }
}