
html {
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
}

body {
    min-width: 375px;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
}

.button {
    display: inline-block;
    padding: 19px 32px;
    color: #fff;
    background-color: #3596ed;
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    -webkit-transition: opacity 0.2s, background-color 0.2s;
    -o-transition: opacity 0.2s, background-color 0.2s;
    transition: opacity 0.2s, background-color 0.2s;

}

.button:hover {
    opacity: 0.8;
}

.button:not(:disabled):active {
    background-color: #2d82cd;
}

button.button:disabled {
    opacity: 0.65;
    cursor: default;
}

.section {
    margin-bottom: 140px;
}

.title__large {
    font-family: Oswald, sans-serif;
    margin-bottom: 40px;
    font-size: 48px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;

}

.title__medium {
    font-family: Oswald, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
}

.article-title-large {
    font-size: 48px;
}

.article-title-medium {
    font-size: 36px;
}

.text__sub {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: right;
    color: #858e8a;
}

a,
button {
    outline: none;
}

.decor::before {
    content: "";
    background: url("../media/decor-icon.svg") repeat-x;
    width: calc(50% - 250px);
    height: 48px;
    position: absolute;
    z-index: -1;
}

a:focus-visible,
button:focus-visible,
summary:focus-visible {
    outline: 2px solid #3596ed;
    outline-offset: 1px;
}

img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
}

@media (width <=992px) {
    .container {
        max-width: 768px;
    }
}

@media (width <=768px) {
    .container {
        max-width: 576px;
    }

    .title__large {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .title__medium {
        font-size: 22px;
    }

    .home-page .title__large {
        text-align: center;
        max-width: inherit;

    }
}

@media (width <=576px) {
    .section {
        margin-bottom: 80px;
    }

    .title__large {
        font-size: 34px;
    }

    .title__medium {
        font-size: 18px;
    }
}