 body {
    background-color: #323138;
 }
 
 .p {
    font-size: 60px;
    color: #fff;
    text-align: center;
 }

 .p::before {
    content: '';
    position: absolute;
    display: block;
    left: 35%;
    height: 60px;
    width: 60px;
    background-color: #e85d4d;
    border-radius: 100%;
    border: 3px solid #fff;
 }

 .p::after {
    content: '';
    position: absolute;
    display: block;
    transform: translateY(-65px);
    left: 60.5%;
    height: 60px;
    width: 60px;
    background-color: #4d8ee8;
    border-radius: 100%;
    border: 3px solid #fff;
 }