html {
    font-family: sans-serif;
    background: #f7f7f7;

}

body * {
    box-sizing: border-box;

}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 0 20px;
    font-size: 20px;
    text-decoration: underline;
    align-items: center;
}

.container {
    min-height: 90px;
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
    border-bottom: 1px solid #333333;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

}

.logo {
    width: 60px;
    height: 60px;
    background: #0c0c0c;
    border-radius: 10px;
}

.phone {
    color: #0c0c0c;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
}