

.modal {
    --transition-time: .2s;

    position: fixed;
    inset: 0;
    z-index: var(--layer-3);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    cursor: pointer;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    background: var(--overlay);
    -webkit-transition: opacity var(--transition-time) visibility var(--transition-time);
    -o-transition: opacity var(--transition-time) visibility var(--transition-time);
    transition: opacity var(--transition-time) visibility var(--transition-time);
}

.modal::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.modal__window {
    position: relative;
    display: inline-block;
    margin-block: 50px;
    vertical-align: middle;
    background-color: var(--bg-color);
    -webkit-box-shadow: 0 0 20px var(--shadow-color);
            box-shadow: 0 0 20px var(--shadow-color);
    border-radius: 12px;
}

@media (width > 576px) {
    .modal__window {
        padding: 100px 50px;
    }
}

@media (width <=576px) {
    .modal__window {
        padding: 80px 30px;
        width: 90%;
    }
}

.modal__close {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 24px;
    height: 24px;
}

.modal--open {
    opacity: 1;
    visibility: visible;
}

.modal__window--open {
    display: inline-block;
}