.form-group {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 30vw;
}

.form-group label {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.button {
    min-width: 7vw;
    max-width: 10vw;
    min-height: 5vh;
    max-height: 8vh;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.form-group label.rules{
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
