.form-group {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 30vw;
}

.data {
    font-weight: bold;
    padding: 1vh 0 0;
    font-size: 1.1em;
}

.form-group label {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.button {
    min-width: 7vw;
    max-width: 10vw;
    min-height: 5vh;
    max-height: 8vh;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.form-group label.rules {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.form-group label.message textarea {
    resize: vertical;
    min-height: 10vh;
    max-height: 20vh;
}