.hero {
    padding-top: 80px;
    position: relative;
}

.hero::after {
    content: "";
    background: url("../media/decor-large-icon.svg") repeat-x;
    width: 100%;
    height: 48px;
    position: absolute;
    z-index: -1;
    bottom: 106px;
}

.container {}

.hero__container {
    display: flex;
    align-items: center;
    gap: 28px;
}

.button {}

.hero__images {
    position: relative;
    display: flex;
}

.hero h1 {
    font-family: Oswald, sans-serif;
    font-weight: 600;
    font-size: 62px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
    margin-bottom: 40px;
}

.hero h1 strong {
    color: #3596ed;
}



.hero__info .text {
    margin-bottom: 140px;
    max-width: 440px;
}

.hero__choose {
    position: absolute;
    max-width: 161px;
    text-align: center;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 22px;
    border: 1px solid #535755;
    background: rgb(255 255 255 / 0.9);
}

.news__container {
    display: flex;
    gap: 28px;
}

.news__article {
    display: flex;
    flex-direction: column;
    max-width: 284px;
    background-color: #fff;
    border: 1px solid #d3cbd9;
    overflow: hidden;
}

.news__article img {
    display: block;
}

.news__info {
    padding: 20px 20px 0;
    margin-bottom: 12px;
}

.news__date {
    display: inline-block;
    margin-bottom: 8px;
}

.news__article footer {
    padding: 0 20px 20px;
    margin-top: auto;
}

.news__link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #3596ed;
    
}

.news__link::after {
    display: inline-block;
    content: "";
    width: 22px;
    height: 9px;
    background-image: url("../media/arrow-right-icon.svg");
    transition: transform 0.2s;
}

.news__link:hover::after {
    transform: translateX(5px);
}